@tailwind base;
@tailwind components;
@tailwind utilities;

/* Radix SAGE */
@layer base {
  :root {
    --background: 150, 6%, 7%;
    --foreground: 240 6.2% 93.7%;
    --surface: 150, 4%, 9%;
    --surface-foreground: 60 0% 96%;
    --surface-secondary: 150, 3%, 13%;
    --surface-secondary-foreground: 60 0% 96%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 160, 4%, 16%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 156, 4%, 28%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
    --radius: 0.3rem;
  }

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
